.hobbies-main {
  width: 100%;
}

.basic-hobbies {
  margin-left: 5%;
  margin-right: 5%;
}

.hobbies-heading-div {
  display: flex;
}

.hobbies-heading-div > * {
  flex: 1;
}

.hobbies-heading-img-div {
  align-items: center;
  justify-content: center;
}

.hobbies-heading-text-div {
  text-align: center;
}

.hobbies-heading-img-div > * {
  max-width: 100%;
  height: auto;
}

.hobbies-heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Medium";
  line-height: 1.1;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 4px;
}

.hobbies-heading-sub-text {
  font-size: 30px;
  font-family: "Google Sans Regular";
  text-align: center;
  margin-bottom: 10px;
}

.hobbies-header-detail-text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Google Sans Medium";
}

@media (max-width: 1380px) {
  .hobbies-heading-text {
    font-size: 50px;
    margin-top: 80px;
  }
  .hobbies-heading-sub-text {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .hobbies-heading-text {
    font-size: 30px;
    margin-top: 20px;
  }

  .hobbies-heading-sub-text {
    font-size: 20px;
  }

  .hobbies-heading-div {
    flex-direction: column;
  }

  .hobbies-header-detail-text {
    font-size: 16px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }
}
