.hobbies-card {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}


.hobbies-card-body-div {
  margin-top: 20px;
  width: 100%;
}
  
.hobbies-image {
  display: flex;
  align-items: center;
    text-align: center;
  width: 95%;
  }


.hobbies-card-title {
  font-family: "Google Sans Regular";
  margin-top: 10px;
  margin-bottom: 2px;
  margin-left: 0px;
  margin-right: 7px;
  text-align: center;
}

.hobbies-card-description {
  margin-top: 5px;
  margin-left: 10px;
  text-align: center;
  margin-right: 20px;
  font-family: "Google Sans Regular";
}



@media (max-width: 768px) {
  .hobbies-card {
    margin-bottom: 10px;
    flex-direction: column;
    text-align: center;
  }

  .hobbies-card-logo {
    width: 100px;
  }

  .hobbies-card-body-div {
  }

  

  .hobbies-card-title {
    text-align: center;
  }

  .hobbies-card-company {
    text-align: center;
  }

  .hobbies-card-duration {
    margin-top: 8px;
    text-align: center;
  }

  .hobbies-card-location {
    /* text-align: left; */
    text-align: center;
  }

  .hobbies-card-header-div {
    flex-direction: column;
  }

  .hobbies-card-description {
    margin-top: 10px;
    margin-left: 14px;
    margin-right: 14px;
    text-align: center;
  }
  .hobbies-heading {
    font-size: 30px;
    text-align: center;
  }
  .hobbies-header {
    font-size: 30px;
  }
  
  
  .hobbies-main-div {
    flex-direction: column;
  }
  .hobbies-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .hobbies-text {
    font-size: 16px;
  }
  .hobbies-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .hobbies-image-div {
    /* display: none; */
    order: 2;
  }
  .hobbies-image-div > * {
    margin-top: 0px;
  }
}


/* Media Query */
@media (max-width: 1380px) {

  .hobbies-card-body-div {
  margin-top: 40px;
  width: 100%;
    }

  .hobbies-card-description {
  margin-top: 15px;
    }
	.hobbies-card {
    flex-direction: row;
  }
  .hobbies-heading {
    font-size: 40px;
  }
  .hobbies-header {
    font-size: 50px;
  }
  /* .hobbies-image-div > img {
    margin-top: 0px;
  } */
}